# Временные файлы Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Результаты сборки
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Файлы .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Кэш NuGet
*.nuget.props
*.nuget.targets
.nuget/
packages/
project.assets.json
obj/project.assets.json
obj/project.nuget.cache

# Файлы компиляции
*.pdb
*.cache
*.resources
*.GeneratedMSBuildEditorConfig.editorconfig
*.GlobalUsings.g.cs
*.RazorAssemblyInfo.*
*.AssemblyInfo.*
