.mainMenu{
    position: fixed;
    top: 0;
    min-width: 280px;
    bottom: 0;
    left: 0;
    border: solid 1px #E5E7EB;
    background-color: #FFFFFF;
    box-shadow: 5px 0px 20px 3px #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-y: auto;
}
.mainMenu h2{
    font-weight: 300;
    font-family: Actor, 'Actor';
    color: #2563EB;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Actor';
    border-bottom: 1px solid #E5E7EB;
    font-size: clamp(20px, 4dvw, 30px);
    cursor: pointer;
}
.mainMenu p{
    color: #9CA3AF;
    font-size: clamp(10px, 1.8dvw, 16px);
}
.mainMenu section nav p{
    font-size: clamp(14px, 1.8dvw, 20px);
    font-weight: 500;
    cursor: pointer;
} 
.mainMenu section{
    width: 100%;
    padding: 0px 30px;
}

.mainMenu .Active{
    background-color: #2563EB;
    border: 0;
    color: #fff;
    /* width: 80%; */
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
.mainMenu .Active p{
    font-size: clamp(14px, 1.8dvw, 20px);
    color: #fff;
    font-weight: 600;
}

.mainMenu .Active svg{
    width: 20px ;
    height: 20px ;
}

.mainMenu section nav{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainMenu section nav div{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    transition: 0.3s;
}
.mainMenu section nav div:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
.mainMenu section nav svg{
    width: 20px;
    height: 20px;
}


.mainMenu .accountEl{
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
.mainMenu .accountEl:hover{
    opacity: 0.8;
    transform: scale(1.05);
}